
@{
    ViewData["Title"] = "Add Customer";
    if (ViewBag.IsAdmin)
    {
        Layout = "~/Views/Shared/_DashboardLayout.cshtml";
        <partial name="_AddCustomer" />
    }
    else
    {
        Layout = "~/Views/Shared/_AuthLayout.cshtml";
        <div class="w-75 m-auto bg-light bg-opacity-10  text-light p-4 rounded border">
            <partial name="_AddCustomer" />
        </div>
    }
}



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
