@{
    ViewData["Title"] = "UserLogin";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="w-25 bg-light bg-opacity-10  m-auto text-light border border-1 rounded rounded-5 p-4">
    <h3 class="text-center">Login</h3>
    <form asp-action="UserLogin">
        <div class="form-group mb-3">
            <label for="email" class="control-label"> Email</label>
            <input text="email" name="email" id="email" class="form-control" placeholder="Email" required />
        </div>
        <div class="form-group mb-3">
            <label for="Password" class="control-label">Password</label>
            <input type="Password" name="password" id="password" class="form-control" placeholder="Password" required />
        </div>
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-primary w-100" />
            <div class="text-center fs-6">
                <a asp-route="Register">Register new user</a> |
                <a asp-route="ForgetPassword">Forget Password</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
