@model IEnumerable<ProductDetails>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h4>Product Details</h4>
<table class="table border border-1 border-dark">
    <tbody>
        @foreach(var pd in Model)
        {
            <tr>
                <th width="200px">@pd.DetailName</th>
                <td>@pd.DetailValue</td>
            </tr>
        }
    </tbody>
</table>

